<!--page content (not index, archive, category, tag, post)-->
<h4><%- page.title %></h4>

<%- page.content%>
<p>— <%- full_date(page.date, 'll') %> - <%- time(page.date) %>, Updated on <%- full_date(page.updated, 'll') %> - <%- time(page.date) %></p>
