<!--post content-->
<article class="no-border">
  <h4><%- page.title %></h4>
  <img class="post-thumbnail mb-3" src="<%- url_for(page.path) %><%- page.thumbnail %>" alt="thumbnail">

  <%- page.content%>
  <p><%- list_tags(page.tags, {class: 'tag', show_count: false, style: false}) %> — <%- full_date(page.date, 'll') %> - <%- time(page.date) %>, Updated on <%- full_date(page.updated, 'll') %> - <%- time(page.date) %></p>
  <p>Categories: <%- list_categories(page.categories, {class: 'category', show_count: false, style: false}) %></p>
  <%- partial('partial/comments') %>
</article>
